<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    </head>
    <body>
        <h1> Mentor Dashboard </h1>

        {% for mentor in mentors %}
            <div class="card">
                <div class='card-header'>
                        Schedule 
                </div>
                <div class='card-body'>
                    <p class="card-title">
                            Mentor : {{ mentor.name }}
                    </p>
                    <p class='card-text'>
                       <p> Timeslots :  {% for date in mentor.dates %} <li> {{ date }} </li> {% endfor %}
                       <p> Subjects : {% for subject in mentor.subjects %} <li> {{subject}} </li> {% endfor %}
                    </p>
                </div>
            </div>
        {% endfor %}
        {% comment %} 

        -- Display Login Status
        -- List of Upcoming 1x1s
        -- Bail Out Option

         {% endcomment %}
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
 
    </body>
</html>
